<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href= "https://fonts.googleapis.com/css2? family= Roboto & display=swap">
    <script src="https://kit.fontawesome.com/72de2d6a7f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />    

</head>

<body>

    <header class="main-header">
        <div class="main-header-top-bar">                               
           <img class="logo" src = "/img/logo-mercado-liebre.svg" >
           <div class="buscador">
            <form action="/" method="post">                        
                    <label for="name"></label>
                    <input class="barra-busqueda" type="text"> <!-- barra busqueda -->
            <i class="fa-solid fa-magnifying-glass"></i><!-- lupa -->
            </form>
           </div>
           <h2 class="copy-header">
            <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</h3>
           </h2>
        </div>
        
        <nav class="main-navbar">
                <ul class="left-navbar">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>

                <ul class="right-navbar">
                    <li><a href="./register.html">Creá tu cuenta<i class="fa-regular fa-address-card"></i></a></li>
                    <li><a href="./login.html">Ingresá<i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li><a href="#">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>  
                </ul>
        
        </nav>
            <div class="menu"><i class="material-symbols-outlined">menu</i> <!-- burger -->
            </div>  
            
    </header>
    
    <div class="home"> 
        <img class="banner" src=  "/img/img-home-banner.jpg">
    </div> 
    
    
    <main class="main">
        <div class="contenedor-titular">
            <h3 class="titulares"> Basado en tu última visita</h3>
        </div>

        <section class="listado"> 
            <article class="articulo">
                <div class="caja">
                   <div class="imagenes"> <img class="cafetera" src = "/img/img-cafetera-moulinex.jpg"> </div>
                    <p class="camion"><i class="fa-sharp fa-solid fa-truck"></i></p>
                    <div class="precio-descuento">
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                    </div>
                    <h4 class="descripcion">Cafetera Moulinex</h4>
                </div>
                
            </article>

            
                
            <article class="articulo">
                <div class="caja">
                    <div class="imagenes"> <img src = "/img/img-macbook-pro-2019.jpg"></div>
                    <p class="camion"><i class="fa-sharp fa-solid fa-truck"></i></p>
                    <div class="precio-descuento">
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% OFF</p>
                    </div>
                    <h4 class="descripcion">MacBook Pro 2019</h4>
                </div>
            
            </article>

            <article class="articulo">
                 <div class="caja">
                    <div class="imagenes"><img src = "/img/img-samsung-galaxy-s10.jpg"></div>
                    <p class="camion"><i class="fa-sharp fa-solid fa-truck"></i></p>
                    <div class="precio-descuento">
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% OFF</p>
                    </div>
                    <h4 class="descripcion">Samsung Galaxy S10</h4>
                   
                </div>
            
            </article>

            <article class="articulo">
                 <div class="caja">
                  <div class="imagenes"> <img src = "/img/img-tv-samsung-smart.jpg"></div>
                    <p class="camion"><i class="fa-sharp fa-solid fa-truck"></i></p>
                    <div class="precio-descuento">
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% OFF</p>
                    </div>
                    <h4 class="descripcion">SmartTv Samsung 43"</h4>
                </div>

            </article>

        </section>


        <div><h3 class="titulares"> Sección de Ofertas</h3>
        </div>
        <section class="listado">
            
            <article class="articulo">
                <div class="caja">
                   <div class="imagenes"> <img src = "/img/img-cafetera-moulinex.jpg"></div>
                    <p class="camion"><i class="fa-sharp fa-solid fa-truck"></i></p> 
                    <div class="precio-descuento">
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                    </div> 
                    <h4 class="descripcion">Cafetera Moulinex</h4>
                </div>
               

            </article>

            <article class="articulo"></div> 
                  <div class="caja">
                    <div class="imagenes"> <img src = "/img/img-macbook-pro-2019.jpg"></div>
                    <p class="camion"><i class="fa-sharp fa-solid fa-truck"></i></p>
                    <div class="precio-descuento">
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% OFF</p>
                    </div>
                    <h4 class="descripcion">MacBook Pro 2019</h4>
                    
            </div>
            </article>

            <article class="articulo">
                <div class="caja"> 
                   <div class="imagenes" ><img src = "/img/img-samsung-galaxy-s10.jpg"></div>
                    <p class="camion"><i class="fa-sharp fa-solid fa-truck"></i></p>  
                    <div class="precio-descuento">
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% OFF</p>
                    </div>
                    <h4 class="descripcion">Samsung Galaxy S10</h4>
               </div>

            </article>

            <article class="articulo">
                 <div class="caja">
                    <div class="imagenes"><img src = "/img/img-tv-samsung-smart.jpg"></div>
                    <p class="camion"><i class="fa-sharp fa-solid fa-truck"></i></p>
                    <div class="precio-descuento">
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% OFF</p>
                    </div>  
                    <h4 class="descripcion">SmartTv Samsung 43"</h4>
                </div> 

            </article>

        </section>

    </main>
        

    <footer  class="footer-login"> 
        <section  class="footer-icono1">
            <div class="tarjeta"> <i class="fa-solid fa-credit-card"></i>
                </div>
                <h3 class="titular-footer">Pagá con tarjeta o en efectivo 
                </h3>

             <p class= "texto-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                 puntos de pago. ¡Y siempre es seguro! </p>
             </section>

        <section class="footer-icono2">
            <div class="regalo"><i class="fa-solid fa-gift"></i>
            </div>
            <h3 class="titular-footer"> Envío gratis desde $ 2.500 
            </h3>

            <p class= "texto-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos. </p>
            </div>
        </section>
        
            
        </section>

        <section class="footer-icono3">
            <div class="seguridad"><i class="fa-solid fa-user-shield"></i>
            </div>
            <h3 class="titular-footer">Seguridad, de principio a fin</h3>
            <p class="texto-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            <p class="texto-footer"> Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

        </section>
    
        

        

    </footer>

</body>
</html>

